@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-tw: 74 4 45;
    --color-secondary-tw: 38 38 38;

    --color-primary: rgb(var(--color-primary-tw));
    --color-secondary: rgb(var(--color-secondary-tw));
  }
}

body {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}
